.container {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}

.example {
	margin: 64px;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.header {
	font-weight: 700;
	font-size: 42px;
	text-align: center;
}
